{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{title}} </title>
    <link rel = "stylesheet" type="text/css" href={% static "new_style.css" %}>
</head>
<body>
    <pagename>
        {% block pagename %}
        <h1> {{title}} </h1>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
        <h3><a href="http://127.0.0.1:8000/platform/">Главная</a></h3>
        <h3><a href="http://127.0.0.1:8000/platform/games/">Магазин</a></h3>
        <h3><a href="http://127.0.0.1:8000/platform/cart/">Корзина</a></h3>
        {% endblock %}
    </menu>

    <content>
        {% block content %}
            <ul>
            {% for game in games %}
            <li>
                {{ game.title }} | {{ game.description }}. Стоимость: {{ game.cost }} <button>Купить</button>
            </li>
            {% endfor %}
            </ul>
        {% endblock %}
    </content>
</body>
</html>